conf/xsd/custom_ctypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.6" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== Complex Types                                                                   -->
    <!--===== DDNTA 5.15.2                                                                    -->
    <!--===== NCTS P5 Phase Definition                                                        -->
    <!--===== XSD version 51.8.6_Custom                                                       -->
    <!--===== Aligned with RFC-List version DDNTA RFC-List.39                                 -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Customisation Comments:															-->
    <!--===== This Custom_ctypes.xsd file contains the only changes to the DDNTA ctypes.xsd.	-->
    <!--===== This file must be place in the folder that contains the "Include-files" folder.	-->
    <!--===== The ctypes.xsd remains as per the DDNTA, but must be in the "Include-files" folder-->
    <!--===== This matches exactly the structured on ERMIS and wont change any other IE	messages-->
    <!--================================================================================-->
    <!--===== Includes                                                                        -->
    <!--================================================================================-->
    <xs:include schemaLocation="../include-files/doc.xsd" />
    <xs:include schemaLocation="../include-files/stypes.xsd" />
    <xs:include schemaLocation="../include-files/tcl.xsd" />
    <!-- CTCP-5623: typeOfIdentification, identificationNumber and nationality made optional (Consignment level only) -->
    <xs:complexType name="CUSTOM_DepartureTransportMeansType01">
        <xs:annotation>
            <xs:documentation>
                <usedBy>Used by 2/124 messages: CC029C, CC043C</usedBy>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sequenceNumber" type="SequenceNumberContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Sequence number" />
                        <format value="n..5" />
                        <optionality value="R" />
                        <xsdBaseType value="NumericWithoutZero_5" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Type of identification" />
                        <codeList code="CL750" type="business" name="TypeOfIdentificationOfMeansOfTransport" />
                        <format value="n2" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Identification number" />
                        <format value="an..35" />
                        <optionality value="O" />
                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nationality" minOccurs="0" type="NationalityContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Nationality" />
                        <codeList code="CL165" type="business" name="Nationality" />
                        <format value="a2" />
                        <optionality value="O" />
                        <xsdBaseType value="CountryCodeType" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- CTCP-5623: grossMass made optional (Item level only) -->
    <xs:complexType name="CUSTOM_GoodsMeasureType05">
        <xs:annotation>
            <xs:documentation>
                <usedBy>Used by 2/124 messages: CC029C, CC043C</usedBy>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Gross mass" />
                        <format value="n..16,6" />
                        <optionality value="O" />
                        <xsdBaseType value="DecimalWithZero_16_6" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="netMass" minOccurs="0" type="NetMassContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Net mass" />
                        <format value="n..16,6" />
                        <optionality value="D" />
                        <xsdBaseType value="DecimalWithoutZero_16_6" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- CTCP-5623: amountToBeCovered and currency made optional -->
    <xs:complexType name="CUSTOM_GuaranteeReferenceType03">
        <xs:annotation>
            <xs:documentation>
                <usedBy>Used by 1/124 messages: CC029C</usedBy>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sequenceNumber" type="SequenceNumberContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Sequence number" />
                        <format value="n..5" />
                        <optionality value="R" />
                        <xsdBaseType value="NumericWithoutZero_5" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GRN" minOccurs="0" type="GrnContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="GRN" />
                        <format value="an..24" />
                        <optionality value="D" />
                        <xsdBaseType value="GRNType" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accessCode" minOccurs="0" type="AccessCodeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Access code" />
                        <format value="an..4" />
                        <optionality value="D" />
                        <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="amountToBeCovered" minOccurs="0" type="AmountToBeCoveredContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Amount to be covered" />
                        <format value="n..16,2" />
                        <optionality value="O" />
                        <xsdBaseType value="DecimalWithZero_16_2" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currency" minOccurs="0" type="CurrencyContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Currency" />
                        <codeList code="CL048" type="business" name="CurrencyCodes" />
                        <format value="a3" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- CTCP-5623: customsOfficeAtBorderReferenceNumber, typeOfIdentification, identificationNumber and nationality made optional (Consignment level only) -->
    <xs:complexType name="CUSTOM_ActiveBorderTransportMeansType03">
        <xs:annotation>
            <xs:documentation>
                <usedBy>Used by 1/124 messages: CC029C</usedBy>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sequenceNumber" type="SequenceNumberContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Sequence number" />
                        <format value="n..5" />
                        <optionality value="R" />
                        <xsdBaseType value="NumericWithoutZero_5" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customsOfficeAtBorderReferenceNumber" minOccurs="0" type="CustomsOfficeAtBorderReferenceNumberContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Customs office at border reference number" />
                        <codeList code="CL141" type="business" name="CustomsOffices" />
                        <format value="an8" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Type of identification" />
                        <codeList code="CL219" type="business" name="TypeOfIdentificationofMeansOfTransportActive" />
                        <format value="n2" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType02">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Identification number" />
                        <format value="an..35" />
                        <optionality value="O" />
                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nationality" minOccurs="0" type="NationalityContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Nationality" />
                        <codeList code="CL165" type="business" name="Nationality" />
                        <format value="a2" />
                        <optionality value="O" />
                        <xsdBaseType value="CountryCodeType" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="conveyanceReferenceNumber" minOccurs="0" type="ConveyanceReferenceNumberContentType01">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Conveyance reference number" />
                        <format value="an..17" />
                        <optionality value="D" />
                        <xsdBaseType value="ConveyanceReferenceNumber17_NoSpaces" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
